bin
obj
*.sln
Labfiles/01-analyze-text/Python/text-analysis/labenv/
Labfiles/02-qna/Python/qna-app/labenv/
Labfiles/03-language/Python/clock-client/labenv/
Labfiles/04-text-classification/Python/classify-text/labenv/